{
  "singleQuote": true,
  "semi": false,
  "tabWidth": 2,
  "jsxSingleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"],
  "tailwindFunctions": ["clsx"],
  "tailwindStylesheet": "./src/app/globals.css"
}
